# Declarative Languages

## Database Management Systems

Database management systems (DBMS) are important, heavily used, and interesting! Systems in general is an area of research within computer science that works on things like operating systems and DBMS. These systems have huge deployment across many different companies for many different applications that hold data.

Database is a collection of tables, and tables are where we put data. DBMS helps keep track of these tables, create new tables, delete tables, make updates, and any other operations that we want to apply to the data. 

A table is a collection of records, which are rows that have a value for each column. An example of a table is as the following,

|Latitude | Longitude | Name |
| --- | --- | --- |
| 38 | 122 | Berkeley |
| 42 | 71 | Cambridge |
| 45 | 93 | Minneapolis |

A table has columns and rows. A **column (vertical)** has a name and type. For example:
* The column `Name` has type `string`
* The column `Longitude` has type `integers`

A **row (horizontal)** has a value for each column.  All rows have the same structure within a table. In the table above, each row consist of 3 values, where the first 2 values are numbers and the last one is a string. 

<img src = 'table.png' width = 800/>

A database can have multiple different tables with different structures. The **Structured Query Language (SQL)** is perhaps the most widely used programming language; Software engineers use it all the time to access data for their programs while non-software engineers use it to extract data or information to make decision. SQL is a **declarative** language.

## Declarative Programming

In **declarative languages** such as SQL & Prolog:
* A "program" is a description of the desired result generated by our computer
* The interpreter figures out how to generate the result

In **imperative languages** such as Python and Scheme:
* A "program" is a description of computational processes that we want to be executed
* The interpreter carries out execution / evaluation rules that results in a correctly interpreted program. 
    * We've done this in the Scheme interpreter project
    
There's more flexibility in declarative language interpreter.

In **imperative** language, if we write a quadratic time algorithm by specifying the computational process, most likely the program will run in quadratic time. Meanwhile in **declarative** language, we just state what we want. If there are multiple ways to compute a computation where some of them are more efficient than the others, it's up to the interpreter to choose. Some of the research in declarative language involves making decision about how to compute the desired result given there are multiple ways to compute it correctly, where some ways are faster than others.

#### Writer's note:
Run the following cells before running any SQL cells.

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

To execute SQL statement, make sure to include `%%sql` at the top of the cell.

In SQL we can have statements such as the following,

In [4]:
%%sql
create table cities as
    select 38 as latitude, 122 as longitude, "Berkeley" as name union
    select 42,             71,               "Cambridge"        union
    select 45,             93,               "Minneapolis";

 * sqlite://
(sqlite3.OperationalError) table cities already exists
[SQL: create table cities as
    select 38 as latitude, 122 as longitude, "Berkeley" as name union
    select 42,             71,               "Cambridge"        union
    select 45,             93,               "Minneapolis";]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
%%sql
select * from cities

 * sqlite://
Done.

[(38, 122, 'Berkeley'), (42, 71, 'Cambridge'), (45, 93, 'Minneapolis')]

From the table `cities` that we just created, we can create another table!

In [7]:
%%sql
select "west coast" as region, name from cities where longitude >= 115 union
select "other",                name from cities where longitude <  115;

 * sqlite://
Done.

[('other', 'Cambridge'), ('other', 'Minneapolis'), ('west coast', 'Berkeley')]

The next few lectures go thrugh the details of what happened with these different statements. However, the main idea from these are statements about the structure of the things that are created, and those statements don't explain how to compute it.